<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/navbar'); %>
    <div id='preloader'>
        <img src="/img/Spinner-1s-200px.gif" alt="preloader">
    </div>
    <div class="my-container">

        <h1>
            <%= title%>
        </h1>
        <img src=<%= image%> alt=<%= image%>>

    </div>
    <%- include('../partials/footer'); %>
</body>

</html>